<nav
  class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-around"
  style="background-color: #0d47a1"
>
  <a class="navbar-brand d-flex justify-content-center" href="#">
    <img
      src="/assets/navi/logo.png"
      height="30"
      class="d-inline-block align-top"
      alt="Logo"
    />
  </a>
  <div>
    <form class="form-inline">
      <input
        class="form-control"
        type="search"
        placeholder="Ara"
        aria-label="Search"
      />
    </form>
  </div>
  <div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Giriş Yap</a>
      </li>
    </ul>
  </div>
</nav>
