<nav
  class="navbar navbar-expand-lg d-flex justify-content-around"
  style="background-color: #0d47a1"
>
  <a class="navbar-brand d-flex justify-content-center" href="#">
    <img src="/assets/navi/logo.png" height="30" alt="Logo" />
  </a>
  <div>
    <form
      [formGroup]="searchForm"
      (ngSubmit)="onSearchSubmit()"
      class="form-inline"
    >
      <input
        formControlName="searchText"
        class="form-control"
        type="search"
        placeholder="Ara"
        style="width: 22rem"
        (blur)="onBlur()"
      />
      <div *ngIf="searchItems.length > 0">
        <div class="card" style="width: 22rem; position: absolute">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let items of searchItems">
              <a routerLink="/news/{{ items.id }}" style="color: black"
                >{{ items.subject.substring(0, 35) }}...</a
              >
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
  <div>
    <div *ngIf="!isLoggedIn">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/login">Giriş Yap</a>
        </li>
      </ul>
    </div>
    <div *ngIf="isLoggedIn" style="width: 150px">
      <div class="text-white d-flex justify-content-around align-items-center">
        <a class="username" routerLink="user/{{ user.id }}">
          {{ user.userName }}
        </a>
        <div class="rounded-image">
          <img class="userImage" src="{{ userImageUrl }}" alt="" />
        </div>
        <a class="dropdown-toggle" href="#" (click)="toogleMenu()"> </a>
        <div class="dropdownMenu" *ngIf="isMenuOpened">
          <a class="dropdown-item" href="#"
            ><i class="fa-solid fa-gear"></i> Ayarlar</a
          >
          <a (click)="logout()" class="dropdown-item" href="#"
            ><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
