<div class="container">
  <div class="login-container">
    <img src="assets/login/logomavi.png" width="360px" alt="" />
    <form>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="E-Posta Adresi"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Şifre"
          required
        />
      </div>
      <div class="form-group">
        <button type="submit">Giriş Yap</button>
      </div>
    </form>
    <div class="create-account">
      <p>Hesabınız yok mu? <a href="#">Hemen bir tane oluştur!</a></p>
    </div>
  </div>
</div>
