<div class="container">
  <div class="header">
    <div class="title">Haberler</div>
    <div class="arrows">
      <i
        *ngIf="prevActive"
        (click)="prevPage()"
        class="fa-solid fa-arrow-left-long arrow-item fa-2xl"
      ></i>
      <div *ngIf="!prevActive" style="width: 32px"></div>
      <span>
        {{ currentPage }}
      </span>
      <i
        *ngIf="nextActive"
        (click)="nextPage()"
        class="fa-solid fa-arrow-right-long arrow-item fa-2xl"
      ></i>
      <span *ngIf="!nextActive" style="width: 32px; color: white">XXXXXII</span>
    </div>
  </div>
  <div class="news">
    <div class="row">
      <div class="col-lg-4" *ngFor="let new of news">
        <div class="card mb-4">
          <a href="">
            <img
              [src]="getImageUrl(new.newsCoverPhotoBase)"
              class="card-img-top"
              alt="Haber Resmi"
            />
          </a>

          <div class="card-body">
            <a href="">
              <h5 class="card-title" style="height: 48px">{{ new.subject }}</h5>
              <p class="card-subtitle mt-3 mb-2" style="color: #5c718a">
                {{ new.content.substring(0, 90) }}...
              </p>
            </a>
            <span class="date-username">
              <div class="card-text" style="color: #5c718a">
                {{ findDifferenceFromDate(new.createdDate) }}
              </div>
              <div class="card-text user">
                <div class="rounded-image">
                  <img
                    class="userImage"
                    src="{{ getUserImage(new.userPhotoBase) }}"
                    alt=""
                  />
                </div>
                <a href="user/{{ new.createdById }}">
                  {{ new.createdByUserName }}
                </a>
              </div>
            </span>
            <div class="bookmark-vote-section">
              <div class="bookmark">
                <span>
                  <span
                    (click)="clickBookmark(true, new.id)"
                    *ngIf="new.isBookmarked"
                  >
                    <i class="fa-solid fa-bookmark"></i>
                  </span>
                  <span
                    (click)="clickBookmark(false, new.id)"
                    *ngIf="!new.isBookmarked"
                  >
                    <i class="fa-regular fa-bookmark"></i>
                  </span>
                </span>
                {{ new.bookmarkedCount }}
              </div>
              <div class="vote-type">
                <span class="up-vote">
                  <i class="fa-solid fa-angle-up"></i>
                </span>
                <span class="down-vote">
                  <i class="fa-solid fa-angle-down"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
